.navig{
    margin:0;
    border:0;
    position: relative;
    height: 10%;
}

.navcore{
    display: -ms-flexbox;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    position: relative;
}

.navcore>li{
    display: block;
}

.navLink, .navTitleLi {
    border:none;
    padding-bottom: 7px;
    margin: 20px;
    float:left;
}

.navButton{
    margin:20px;
    float:right;
    margin-right: 60px;
    background-color: transparent;
}



.navitema, .navitem2a, .navtitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 200; 
    line-height: 33px;
    color: white;
    transition: all 0.4s;
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    outline: none;
}

.navitem2a{
    text-decoration: none;
    padding: 14px;
    border-radius: 3px;
    background-color: rgba(114, 187, 83, 0.671);
    border: 1px solid rgba(114, 187, 83, 0.096);
    padding-bottom: 15px;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.64);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.64);
}

.navtitle:hover{
    text-decoration: none;
    color: rgb(80, 80, 80);
}

.navitema:hover {
    text-decoration: none;
    outline: none;
    color: #72BB53;
    transition: all 0.2s;
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    padding-bottom: 6px;
    border-bottom:1px solid #72BB53;
   
}

.navitem2a:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
    outline: none;
    background-color: inherit;
    border: 1px solid rgb(114, 187, 83);
    color: white;
    
}

.navitem2a:focus, .navitema:focus, .navtitle:focus {
    outline: none;
    text-decoration: none;
}

.navitem2a:active, .navitema:active, .navtitle:active {
    text-decoration: none;
    outline: none;
}

.navitem2a:visited, .navitema:visited, .navtitle:visited {
    text-decoration: none;
    outline: none;
}