/**
 * ETML
 * Author : Chyzhyk Aleh
 * Date : 16.01.2020
 * Description : Styles for forms templates
 */
.wrapAdminAdd {
    width: 560px;
}

.baseFormTitle{
    color: #fefefe;
    margin-bottom: 50px;
}

.baseText, .baseDate, .baseTime, .baseNumeric{
    margin-top: 30px;
    
}

.baseDate select , .baseTime select{
    background: #100a316e;
    color: #fefefe;
    border: 1px solid #fefefe;
    width: 30%;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border-radius: 1px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
 
}
.baseDate select::-ms-expand , .baseTime select::-ms-expand{
    display: none;
}

.label-baseInput{
    color: #fefefe;
   
} 

.baseInput{
    width: 100%;
    margin-top: 5px;
    background-color: transparent;
    color: #fefefe;
}

.textInput{
    border: 1px solid #fefefe;  
    margin-right: 3px;
    margin-left: 3px;
}

.baseSubmit{
    text-align: right;
    margin-top: 40px;
    margin-left: 3px;
}

.baseFormButton{
    text-decoration: none;
    padding: 20px;
    border-radius: 3px;
    background-color: rgba(114, 187, 83, 0.671);
    border: 1px solid rgba(114, 187, 83, 0.096);
    width: 50%;
    color: #fefefe;
}

.checkBxContainer {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top:30px;
}

.checkBx {
    cursor: pointer;
	-webkit-appearance: none;
	background-color: #0702026e;
	border: 1px solid #cacece;
	border-radius: 3px;
    position: relative;
    width: 25px;
    height:25px;
    margin-left:3px;
}

.checkBx:active, .checkBx:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkBx:checked {
	background-color: rgba(114, 187, 83, 0.671);
    border: 1px solid #fefefe;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: rgba(114, 187, 83, 0.671);
}

.checkBx:checked:after {
	content: '\2714';
	font-size: 17px;
	position: absolute;
	top: 0;
	left: 5px;
	color: #fefefe;
}

.baseSelect {
    display: block;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    color:#fefefe;
}
.baseSelect::-ms-expand {
    display: none;
    color:#fefefe;
    background-color: rgba(24, 17, 124, 0.514);
}
.baseSelect:focus {
    border-color: rgb(1, 65, 14);
    outline: none;
    color:#fefefe;
}
.baseSelect option, .baseDate option, .baseTime option  {
    text-decoration: none;
    background-color: rgb(16, 13, 46);
    font-weight:normal;
    color:#fefefe;
}

.selectInput{
    padding: 4px;
}
