{% extends 'base.html.twig' %}
{% block nav %}
    <link rel="stylesheet" type="text/css" href="css/nav.css">
    <nav class="navig">
            <ul class="navcore">
                <li class="navTitleLi" ><a class="navtitle" href="index.php">JOURNEE PEDAGOGIQUE</a></li>
                <li class="navLink active"><a class="navitema" href="#">Accuiel</a></li>
                <li class="navLink"><a class="navitema" href="index.php">Calendrier</a></li>
                <li class="navLink"><a class="navitema" href="#">FAQ</a></li>
                <li class="navButton"><a class="navitem2a" href="#">Créer un événement</a></li>
            </ul>
    </nav>
{% endblock %}
